* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/wallpaper.png);
  margin: 0 0;
  padding-top: 0;
  font-family: sans-serif;
}

.header {
  position: fixed;
  z-index: 1;
  background: rgba(103, 58, 183, 0.83);
  margin: 0 0;
  width: 100%;
  padding: 25px;
  height: 100px;
  overflow: hidden;
}

h1 {
  text-align: center;
  position: relative;
  top: -50%;
}

h2 {
  text-align: center;
}

.icon {
  max-height: 50px;
  display: table-cell;
  vertical-align: middle;
}

.icon1 {
  float: left;
}

.icon2 {
  float: right;
}

.container {
  margin: 0 30px 25px;
  padding-top: 100px;
  background-color: white;
  min-height: 500px;
  overflow: auto;
  display: block;
}

.mainimagearea {
  position: relative;
  margin: 1px;
}

.mainimagearea p {
  color: white;
  text-shadow: 1px 1.4px black;

}

.mainpic {
  box-shadow: 0 0 10px;
  width: 100%;
  min-width: 300px;
}

.allday {
  position: absolute;
  top: 8%;
  left: 20%;
  transform: translate( -50%, -50% );
  font-size: 2em;
}

.allday::first-letter {
  font-size: 2.5em;
}

.everyday {
  position: absolute;
  top: 75%;
  left: 45%;
  font-size: 1.7em;
}

.half {
  float: left;
  width: 50%;
  padding: 10px;
}

.left p {
  text-align: justify;
}

.grid-gallery img {
  width: 50%;
  height: 150px;
  float: left;
  padding: 5px;
  object-fit: cover;
}

.right img:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.gallery-foot img {
  float: left;
  height: 100px;
  width: 25%;
  padding: 5px;
  object-fit: cover;
}

.clearfoot img {
  width: 100%;
  height: 100px;
  padding: 5px;
  object-fit: cover;
}

.order-form {
margin-top: auto;
}

.order-header h3{
  width: 100%;
  background-color: lightgrey;
  height: 25px;
  margin: 0px 15px 0px 5px;
  padding-left: 10px;
  clear: both;
}


.order-form table {
  border-collapse: collapse;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 20%);


}

tr {
  border: .5px solid lightblue;
  height: 50px;
}
th {
  background-color: lightgreen;
  height: 15%;
}
td {
  padding: 5px;
}


td:nth-child(2n+1) {
  background-color: lightgrey;
}

td:first-child {
  background-color: lightgreen;
  font-weight: bold;
}

.select-items {
  position: relative;
  top: 100px;
  left: 20px;
}

.select-items input {
  display: block;
  margin: 10px;
  height: 50px;
  width: 40%;
}

.select-items input:focus {
  background-color: lightyellow;
}

.select-items button {
  position: relative;
  left: 45%;
  height: 40px;
  background-color: lightgreen;
}

.select-items button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.icons div {
  position: relative;
  top: 200px;
  left: 20px;
  display: inline;
}

.icons img{
  height: 25px;
  margin-bottom: 20px;
}

.icons img:hover {
  cursor: pointer;
}
