* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/wallpaper.png)
}
h1 {
  text-align: center;
}

.container {
  margin: 0 40px;
  background-color: white;
  min-height: 500px;
  overflow: auto;
}

.mainimagearea {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.mainimagearea p {
  color: white;
  text-shadow: 1px 1.4px black;
  font-size: 140%
}

.mainpic {
  box-shadow: 0 0 10px;
  width: 100%;
  min-width: 300px;
}

.allday {
  position: absolute;
  top: 8%;
  left: 20%;
  transform: translate( -50%, -50% );
}

.everyday {
  position: absolute;
  top: 70%;
  left: 62%;
}

.half {
  float: left;
  width: 50%;
  padding: 10px;
}

.left p {
  text-align: justify;
}

.grid-gallery img {
  max-width: 50%;
  height: 150px;
  float: left;
  padding: 5px;
  object-fit: cover;
}

.grid-gallery img:hover {
  cursor: pointer;
}

.gallery-foot img {
  float: left;
  height: 100px;
  width: 25%;
  padding: 5px;
  object-fit: cover;
  /*image-orientation: 180deg flip;*/
}
